@media screen and (max-width:500px) {
    .tabla_productos {
        width:auto;
        margin-right: 30% ;
    }
    .texto_tabla {
        text-align: justify;
    }
    .container-experiencias {
        width: auto;
        margin-right: 20%;
    }
    .contacto {
        text-align: center;
    }
    } 

@media screen and (max-width:1200px) {
    .contacto {
        text-align: left;
    }

    .comentarios {
        width: 100%
    }

    .container-experiencias {
        width: auto
    }
}